*{
  overflow-x:visible;
}
.App{
  background-color: #F0F2F5;
   height: 100vh;
   min-height: 100%;
   width: 100vw;
   overflow-x: hidden;
   
  }

.App_body {
  display: flex;
  background-color: #F0F2F5;
}

